* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #dbe0df;
    text-align: center;
    font-size: 0.7em;
    position: relative;
    background-color: rgb(2, 4, 31);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

.titleText {
    margin-top: 1.5em;
    line-height: 1em;
    margin-bottom: 0;
    padding-bottom: 5px;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.button {
    margin: 0 auto;
    text-align: center;
    margin-top: 1.5em;
    display: inline-block;
    cursor: pointer;
    padding: 3px 7px 3px 7px;
    border-radius: 2px;
    background-color: rgb(5, 98, 205);
    color: white;
}

.button:hover {
    background: rgb(255, 254, 254);
    color: #000;
    border: 1px rgb(251, 251, 251) solid;
}

.gameBoard {
    width: 430px;
    margin: 0 auto;
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

.box {
    border-radius: 3px;
    min-height: 110px;
    min-width: 110px;
    border: rgb(249, 246, 246) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-style: normal;
    font-family: "Permanent Marker", cursive;
    color: rgb(255, 255, 3);
    cursor: pointer;
}

@media only screen and (max-width: 568px) {

    /* For mobile phones: */
    body {
        color: #dbe0df;
        font-size: 0.7em;
        position: relative;
        background-color: rgb(5, 5, 5);
        font-family: 'Poppins', sans-serif;
        justify-content: center;
        background-image: url('./images/philip-myrtorp-HyRlP868JjI-unsplash.jpg');
        background-size: contain;
    }

    .gameBoard {
        width: 200px;
        margin-top: 3em;
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        justify-content: center;
    }

    .box {
        border-radius: 3px;
        min-height: 80px;
        min-width: 80px;
        border: rgb(250, 250, 250) 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        color: rgb(246, 255, 4);
        cursor: pointer;
    }

    .preDivMod {
        min-width: 90%;
        margin: 0 auto;
        margin-top: 5%;
        border-radius: 5px;
        background: rgb(18, 1, 99);
        min-height: 15%;
        font-family: 'Poppins', sans-serif;
    }

    .playWithComNew {
        position: absolute;
        min-width: 80%;
        background: rgb(2, 45, 163);
        border-radius: 10px;
        top: 30%;
        right: 0;
        left: 0;
        opacity: 1;
        font-weight: bold;
        margin: 0 auto;
        padding: 10px;
        font-size: 10px;
        font-family: 'Poppins', sans-serif;
    }

    #audioSection {
        margin-top: 5%;
        display: flex;
        justify-content: center;
    }

    #musicSound span {
        display: none;
    }

}

.result {
    text-align: center;
    margin-top: 3rem;
}

.result span {
    font-size: 1em;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    text-decoration: underline;
}

.resultCount span {
    font-size: 1.1em;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    margin-left: 45px;
}

.resultCount span:first-child {
    margin-left: 25px;
}

.winModal {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    font-family: 'Source Code Pro', monospace;
}

.winModal h1 {
    display: inline-block;
    padding: 25px;
    color: rgb(248, 215, 49);
    border-radius: 5px;
    font-size: 20px;
    background-color: #010101fd;
    border: .1px whitesmoke solid;
}

.winModal h1:hover {
    background-color: rgb(226, 220, 42);
    color: rgb(11, 11, 11);
}

.preDivMod {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 5px;
    background: rgb(2, 45, 163);
    min-height: 40%;
    font-family: 'Poppins', sans-serif;
}

.playWithComNew {
    position: absolute;
    max-width: 40%;
    background: rgb(2, 45, 163);
    border-radius: 5px;
    top: 30%;
    right: 0;
    left: 0;
    opacity: 1;
    margin: 0 auto;
    padding: 15px;
    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
}

#resultDisplay {
    font-family: 'Source Code Pro', monospace;
}

#audioSection {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

#playMusic {
    display: none;
}

#musicSound span {
    background: rgb(3, 184, 99);
}